<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="posthogScripts">
        <script th:if="${@postHogProperties.browserConfigured}" th:inline="javascript">
            window.personalPostHogConfig = {
                projectToken: /*[[${@postHogProperties.projectToken}]]*/ '',
                apiHost: /*[[${@postHogProperties.apiHost}]]*/ 'https://e.thonbecker.biz',
                uiHost: 'https://us.posthog.com'
            };
        </script>
        <script th:if="${@postHogProperties.browserConfigured}" defer th:src="@{/js/posthog.js}"></script>
    </th:block>
    <th:block th:fragment="bootstrapCss">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
    </th:block>

    <th:block th:fragment="htmxScripts">
        <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
        <script th:src="@{/webjars/htmx.org/dist/ext/hx-alpine-compat.min.js}"></script>
        <script th:src="@{/webjars/htmx.org/dist/ext/hx-browser-indicator.min.js}"></script>
        <script th:src="@{/webjars/personal-design-system/1.0.0/js/htmx-extensions.js}"></script>
        <script th:src="@{/webjars/personal-design-system/1.0.0/js/csrf-utils.js}"></script>
    </th:block>

    <th:block th:fragment="bootstrapScripts">
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </th:block>
</head>
</html>
